<header>
	<h1 class="main-heading">Hot Flix Movie Reviews</h1>
	<p class="tagline">A cinematic oasis. For the movie lover. By a movie lover.</p>
	<div class="social">
		<a href="https://twitter.com/hotflix" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/HotFlix.com.au" target="_blank"><i class="fa fa-facebook"></i></a>
		<a href="mailto:pete@hotflix.com.au" target="_blank"><i class="fa fa-envelope-o"></i></a>
	</div>
</header>

<div id="review-page">
	<div class="grid-items"></div>
</div>

<footer>
	<p>&copy; Mike Goodwin for Hot Flix Movie Reviews</p>
</footer>
