<div id="review-page">
	<header>
		<h1 class="main-heading">Hot Flix<br />Movie<br />Reviews</h1>
<!-- 		<div class="tagline">
			<p><em>A cinematic oasis for the movie lover, by a movie lover</em></p>
		</div> -->
	</header>

	<div class="grid-items"></div>
	<div class="mylightbox"></div>
</div>