body {
	background-color: #632B30;
	color: #A6C36F;
}

#review-page, .review-popup {
	font-family: $helvetica;
}

#review-page {
	@include outer-container(95%);
}

.main-heading {
	font-size: 3em;
	border-bottom: 3px solid #A6C36F;
	border-left: 3px solid #A6C36F;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin: 20px 0 0;
}

.tagline {
	text-align: right;
	padding-right: 10px;
	margin-bottom: 30px;
}

.movie-card-title, .movie-card-trailer {
	cursor: pointer;
	/*border: solid white 1px;*/
	/*border-radius: 8px;*/
	background-color: rgba(0,0,0,0.6);
}

.movie-card-title {
	margin-bottom: 45px;
/*	padding-top: 1px;
	padding-bottom: 1px;*/
}

.movie-card-trailer {
	padding-top: 5px;
	padding-bottom: 5px;
}

.review-popup {
	@include outer-container(95%);
	color: #C7DBE6;

	a {
		color: #C7DBE6;
	}
}

.movie-upper {
	@include clearfix;	
}

.movie-details, .poster-container {
	width: 50%;
	float: left;
}

.poster-container {
	text-align: center;
}

.poster {
	max-height: 350px;
}

.grid-items {
  /*$grid-item-color: #BEEF9E;*/

  .grid-item h1 {
     margin-bottom: 0.67em;
     font-size: 1.7em;
  }
  
  .grid-item-image {
		background-position: center;
	}

  .grid-item-image:after {
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }	
}

footer p {
	border-top: 1px solid #A6C36F;
	margin: 30px 0;
	padding-top: 20px;
}
