body {
	margin: 0;
	background-color: black;
  background: linear-gradient(45deg, #7d7e7d 0%,#0e0e0e 100%);
}

header {
	color: white;
	margin-bottom: 30px;
}

header, footer, #review-page, .review-popup {
	font-family: 'Signika', sans-serif;
}

#review-page {
	@include outer-container(95%);
	margin-bottom: 30px;
}

.main-heading {
	font-size: 4em;
	padding-top: 40px;
	padding-bottom: 10px;
	margin: 0 0 30px;
	text-align: center;
}

.tagline {
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.5em;
}

.social {
	text-align: center;
	padding-bottom: 20px;

	i {
		font-size: 1.25em;
		display: inline-block;
		padding: 0 10px;
		color: white;
	}
}

.movie-card-title, .movie-card-trailer {
	cursor: pointer;
	margin: 0;
}

.movie-card-title {
	background-color: rgba(0,0,0,0.6);
}

.movie-card-trailer {
	color: white;
	font-size: 3.5em;
}

.review-popup {
	@include outer-container(95%);
	color: white;
	font-size: 1.25em;

	a {
		color: white;
	}
}

.movie-upper {
	@include clearfix;	
}

.movie-details, .poster-container {
	width: 50%;
	float: left;
}

.poster-container {
	text-align: center;
}

.poster {
	max-height: 350px;
	margin-top: 20px;	
}

.grid-items {
  .grid-item {
     padding-left: 0;
     padding-right: 0;  	
  }

  .grid-item h1 {
  	margin-bottom: 0.67em;
    font-size: 2em;
  }
    
  .grid-item-image {
		background-position: center;
	}

  .grid-item-image:after {
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }	
}

footer {
	margin: 0;
	padding: 10px;
	color: white;

	.twitter-follow-button {
			display: block;
			margin: 20px 0;
		}
}
